<?xml version="1.0"?>

<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:property name="damping" value="0.0"/>
  <xacro:property name="friction" value="0.1"/>

  <xacro:property name="thigh_offset" value="0.0955"/>

  <xacro:property name="leg_offset_x" value="0.1745"/>
  <xacro:property name="leg_offset_y" value="0.062"/>

  <!-- hip (left front) -->
  <xacro:property name="hip_mass" value="0.428"/>
  <xacro:property name="hip_com_x" value="-0.0047"/>
  <xacro:property name="hip_com_y" value="-0.0091"/>
  <xacro:property name="hip_com_z" value="-0.0018"/>
  <xacro:property name="hip_ixx" value="0.00014538"/>
  <xacro:property name="hip_ixy" value="8.1579E-07"/>
  <xacro:property name="hip_ixz" value="-1.264E-05"/>
  <xacro:property name="hip_iyy" value="0.00024024"/>
  <xacro:property name="hip_iyz" value="1.3443E-06"/>
  <xacro:property name="hip_izz" value="0.00013038"/>

  <!-- thigh -->
  <xacro:property name="thigh_mass" value="0.61"/>
  <xacro:property name="thigh_com_x" value="-0.00523"/>
  <xacro:property name="thigh_com_y" value="-0.0216"/>
  <xacro:property name="thigh_com_z" value="-0.0273"/>
  <xacro:property name="thigh_ixx" value="0.001"/>
  <xacro:property name="thigh_ixy" value="-2.5E-06"/>
  <xacro:property name="thigh_ixz" value="-1.12E-04"/>
  <xacro:property name="thigh_iyy" value="0.00116"/>
  <xacro:property name="thigh_iyz" value="3.75E-07"/>
  <xacro:property name="thigh_izz" value="2.68E-04"/>

  <!-- foot -->
  <xacro:property name="foot_mass" value="0.06"/>
  <xacro:property name="foot_radius" value="0.013"/>

</robot>